<div class="account">
<!--  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css">-->
  <div class="card account-card account-settings">
    <div class="card-body account-card-body">
      Account settings
      <div style="text-align:right; margin-right:10px;">
        <i class="bi bi-chevron-right job-card-icon-right"></i>
      </div>
    </div>
  </div>
  <div class="card account-card pdf-template">
    <div class="card-body account-card-body">
      Set PDF style template
      <div style="text-align:right; margin-right:10px;">
        <i class="bi bi-chevron-right job-card-icon-right"></i>
      </div>
    </div>
  </div>
  <div class="card account-card cover-letter-settings">
    <div class="card-body account-card-body">
      Cover Letters
      <div style="text-align:right; margin-right:10px;">
        <i class="bi bi-chevron-right job-card-icon-right"></i>
      </div>
    </div>
  </div>
  <div class="card account-card resume-settings">
    <div class="card-body account-card-body">
      Resumes
      <div style="text-align:right; margin-right:10px;">
        <i class="bi bi-chevron-right job-card-icon-right"></i>
      </div>
    </div>
  </div>
  <div class="card account-card account-feedback">
    <div class="card-body account-card-body">
      Feedback
      <div style="text-align:right; margin-right:10px;">
        <i class="bi bi-chevron-right job-card-icon-right"></i>
      </div>
    </div>
  </div>
<!--  <div class="card account-card">-->
<!--    <div class="card-body account-card-body disabled">-->
<!--      <input type="checkbox" checked data-toggle="toggle" data-size="mini" disabled>-->
<!--      Use default cover letter template for all jobs-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="card account-card">-->
<!--    <div class="card-body account-card-body disabled">-->
<!--      <input type="checkbox" class="custom-checkbox"checked data-toggle="toggle" data-size="mini" disabled>-->
<!--      Delete old jobs ads when searching for new job ads-->
<!--    </div>-->
<!--  </div>-->
<!--  <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>-->
</div>
<!--<div class="resume-section scrollable">-->
<!--</div>-->