<!--<script src="../../scripts/modules/tiny-editor-bundle.js"></script>-->
<link rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../../styles/coverletter-editor.css">
<div class="form-row">
  <div data-tiny-editor style="width:100%;height:200px;"
       data-formatblock="no"
       data-underline="no"
       data-fontname="no"
       data-forecolor="no"
       data-justifyleft="no"
       data-justifycenter="no"
       data-justifyright="no"
       data-remove-format="no"
       id="tinyEditor"><p>Please write 3–4 paragraphs explaining why you're the perfect candidate for a
    specific job</p></div>
</div>
