<div class="header">
  <div class="header-left">
    <div class="header-logo">
      <img alt="JobAssistant logo" src="../../images/jobassistant-logo.png" style="width:45px;height:45px; padding-bottom:2px;">
    </div>
  </div>
  <div class="header-center" style="width:410px;">
    <span id="filter-results" class="search-tools hide"
          style="float:right;font-size:12px;line-height:2;cursor:pointer;color:rgb(255,95,109);padding-right:10px;">Filter Results</span>
    <h5>Search</h5>
  </div>
  <div class="header-right">
    <div class="icon-interaction" style="height:16px;width:16px;">
      <svg version="1.1" id="circle" class="circle hide" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
           viewBox="0 0 100 100" xml:space="preserve">
          <circle fill="none" stroke="#F25F6D" stroke-width="10" stroke-mitterlimit="0" cx="50" cy="50" r="42"
                  stroke-dasharray="360" stroke-linecap="round" transform="rotate(-90 ) translate(-100 0)">
              <animate attributeName="stroke-dashoffset" values="360;0" dur="2s" repeatCount="indefinite"></animate>
          </circle>
      </svg>
      <svg class="svg-close" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.849 8l4.525 4.525-.849.849L8 8.849l-4.525 4.525-.849-.849L7.151 8 2.626 3.474l.849-.848L8 7.151l4.525-4.525.849.849L8.849 8z"
              fill="#757575"></path>
      </svg>
    </div>
  </div>
</div>