<form style="padding:30px;" class="personal-form">
  <label for="personalInputs" style="font-size:20px;padding-bottom:20px;font-weight:600;">Personal Details:</label>
  <div class="form-personal-group" id="personalInputs">
    <div class="form-row">
      <div class="col left-col">
        <label class="personal-label-container">
          <div class="personal-label">First name</div>
        </label>
        <input type="text" class="form-control" placeholder="First name" id="firstNameInput">
      </div>
      <div class="col right-col">
        <label class="personal-label-container">
          <div class="personal-label">Last name</div>
        </label>
        <input type="text" class="form-control" placeholder="Last name" id="lastNameInput">
      </div>
    </div>
    <div class="form-row">
      <div class="col left-col">
        <label class="personal-label-container">
          <div class="personal-label">Job title</div>
        </label>
        <input type="text" class="form-control" placeholder="Job title" id="jobTitleInput">
      </div>
      <div class="col right-col">
        <label class="personal-label-container">
          <div class="personal-label">Email</div>
        </label>
        <input type="email" class="form-control" placeholder="Email" id="emailInput">
      </div>
    </div>
    <div class="form-row">
      <div class="col left-col">
        <label class="personal-label-container">
          <div class="personal-label">City</div>
        </label>
        <input type="text" class="form-control" placeholder="City" id="cityInput">
      </div>
      <div class="col right-col">
        <label class="personal-label-container">
          <div class="personal-label">State</div>
        </label>
        <input type="text" class="form-control" placeholder="State" id="stateInput">
      </div>
    </div>
    <div class="form-row">
      <div class="col left-col">
        <label class="personal-label-container">
          <div class="personal-label">Address name</div>
        </label>
        <input type="text" class="form-control" placeholder="Street Address" id="addressInput">
      </div>
      <div class="col right-col">
        <label class="personal-label-container">
          <div class="personal-label">Zip code</div>
        </label>
        <input type="text" class="form-control" placeholder="Zip code" id="zipCodeInput">
      </div>
    </div>
    <div class="form-row">
      <div class="col left-col">
        <label class="personal-label-container">
          <div class="personal-label">Country</div>
        </label>
        <input type="text" class="form-control" placeholder="Country" id="countryInput">
      </div>
      <div class="col right-col">
        <label class="personal-label-container">
          <div class="personal-label">Phone number</div>
        </label>
        <input type="text" class="form-control" placeholder="Phone number" id="phoneNumberInput">
      </div>
    </div>
  </div>
</form>