<div class="search">
  <form onsubmit="return false;">
    <div class="form-group search-position-input">
      <input type="text" class="form-control" id="positionSearch" placeholder="Job title (Required)">
    </div>
    <div class="form-group search-location-input">
      <input type="text" class="form-control autocomplete" id="locationSearch" placeholder="Location (Required)">
    </div>
    <div class="form-group search-skills-input">
      <input type="text" name="tags" class="tagin" id="skillsSearch" data-placeholder="Skills (Comma to separate skills...)">
    </div>
    <div class="btn-container" style="padding-top:40px;">
      <button type="button" class="btn hero-btn" id="job-search">Search</button>
<!--      <button type="button" class="btn hero-btn" id="test-popup">Test Popup</button>-->
    </div>
<!--    <div id="container-modal" style="position:fixed;top:0;bottom:0;left:0;right:0;display:none">-->
<!--      <div id="myModal" style="position:absolute;width:300px;height:200px;left:100px;top:100px">-->
<!--        &lt;!&ndash; Here goes my content &ndash;&gt;-->
<!--        <p>TEST</p>-->
<!--      </div>-->
<!--    </div>-->
    <script type="module" src="../../scripts/modules/native/autocompleteInit.js"></script>
    <script type="module" src="../../scripts/modules/third_party/tagin.min.js"></script>
    <script type="module" src="../../scripts/modules/native/tagsInit.js"></script>
    <script type="module" src="../../scripts/modules/native/search.js"></script>
  </form>
</div>