<div class="job-wizard">
  <div class="wizard-header" style="width:800px;">
    <div class="wizard-header-left">
      <div class="wizard-header-logo">
        <img alt="JobAssistant logo" src="../../../images/jobassistant-logo.png" style="width:45px;height:45px; padding-bottom:2px;">
      </div>
    </div>
    <div class="wizard-header-center center" style="width:800px;">
      <h2 class="job-wizard-title" style="width:100%;">Select a Template</h2>
    </div>
    <div class="wizard-header-right">
      <svg class="svg-close" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.849 8l4.525 4.525-.849.849L8 8.849l-4.525 4.525-.849-.849L7.151 8 2.626 3.474l.849-.848L8 7.151l4.525-4.525.849.849L8.849 8z"
              fill="#757575"></path>
      </svg>
    </div>
  </div>
  <div class="job-wizard-body center">
    <div class="template-slider" style="padding-top:50px;">
      <div class="glider" style="width:90%;">
        <div class="glider-slide"></div>
        <div class="glider-slide" id="resume-template-1"><img class="resume-sample" src="https://YOUR_STATIC_BUCKET.s3-us-west-2.amazonaws.com/resume_sample.jpg"></div>
        <div class="glider-slide" id="resume-template-2"><img class="resume-sample" src="https://YOUR_STATIC_BUCKET.s3-us-west-2.amazonaws.com/resume_sample2.jpg"></div>
        <div class="glider-slide" id="resume-template-3"><img class="resume-sample" src="https://YOUR_STATIC_BUCKET.s3-us-west-2.amazonaws.com/resume_sample3.jpg"></div>
        <div class="glider-slide" id="resume-template-4"><img class="resume-sample" src="https://YOUR_STATIC_BUCKET.s3-us-west-2.amazonaws.com/resume_sample4.jpg"></div>
        <div class="glider-slide"></div>
      </div>
      <button role="button" aria-label="Previous" class="glider-prev" id="glider-prev-add" aria-disabled="false"><i class="bi bi-chevron-left"></i></button>
      <button role="button" aria-label="Next" class="glider-next" id="glider-next-add" aria-disabled="false"><i class="bi bi-chevron-right"></i></button>
      <div role="tablist" class="dots" style="padding-top:30px;"></div>
    </div>
  </div>
  <div class="job-wizard-footer">
    <div class="job-wizard-skip">
      <h5>Skip and go to job application site <i class="bi bi-chevron-right"></i></h5>
    </div>
  </div>
</div>