<div class="languages-container">
  <div class="languages-inner-container">
    <div class="language">
      <div class="language-header">
        <div class="language-header-inner">
          <div class="language-header-text-container">
            <div class="language-header-text">(Not specified)</div>
          </div>
          <div class="languages-edit-delete-btn">
            <svg width="24" height="24" viewBox="0 0 24 24" version="1.1"
                 xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6.5,14 C5.67157288,14 5,13.3284271 5,12.5 C5,11.6715729 5.67157288,11 6.5,11 C7.32842712,11 8,11.6715729 8,12.5 C8,13.3284271 7.32842712,14 6.5,14 Z M12.5,14 C11.6715729,14 11,13.3284271 11,12.5 C11,11.6715729 11.6715729,11 12.5,11 C13.3284271,11 14,11.6715729 14,12.5 C14,13.3284271 13.3284271,14 12.5,14 Z M18.5,14 C17.6715729,14 17,13.3284271 17,12.5 C17,11.6715729 17.6715729,11 18.5,11 C19.3284271,11 20,11.6715729 20,12.5 C20,13.3284271 19.3284271,14 18.5,14 Z"></path>
            </svg>
          </div>
          <div class="language-toggle-btn">
            <div class="language-body-expand-collapse">Collapse</div>
            <div class="language-collapse-expand-icon expand-icon">
              <svg width="24" height="24" viewBox="0 0 24 24" version="1.1"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M9.431 7.257l1.352-1.474 5.893 5.48a1 1 0 0 1 0 1.474l-5.893 5.45-1.352-1.475L14.521 12 9.43 7.257z"></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="language-body expanded">
        <div class="language-inputs-container">
          <div class="language-inputs-inner-container">
            <div class="language-text-input-container">
              <div class="language-left-input-container">
                <label class="language-label-container">
                  <div class="language-label">Language</div>
                </label>
                <div class="language-input-container">
                  <input type="text" class="language-input-focus language-search" placeholder="Language">
                </div>
              </div>
            </div>
            <div class="language-inputs-inner-container">
              <div class="language-right-input-container">
                <label class="language-label-container">
                  <div class="language-label">Level</div>
                </label>
                <div class="select-language-level-input-container">
                  <div class="select-language-level-input-text" >Select level
                    <div class="select-language-level-input-icon">
                      <svg width="24" height="24" viewBox="0 0 24 24" version="1.1"
                           xmlns="http://www.w3.org/2000/svg">
                        <path
                          d="M9.32427537,7.23715414 L10.6757246,5.76284586 L16.6757246,11.2628459 C17.1080918,11.6591824 17.1080918,12.3408176 16.6757246,12.7371541 L10.6757246,18.2371541 L9.32427537,16.7628459 L14.5201072,12 L9.32427537,7.23715414 Z"></path>
                      </svg>
                    </div>
                  </div>
                  <select class="language-level-select-dropdown">
                    <option value="">Select level</option>
                    <option value="Native speaker">Native speaker</option>
                    <option value="Highly proficient">Highly proficient</option>
                    <option value="Very good command">Very good command</option>
                    <option value="Good working knowledge">Good working knowledge</option>
                    <option value="Working knowledge">Working knowledge</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="edit-container hide" id="editBtnContainer">
    <div class="edit-btn-container">
      <div class="edit-icon">
        <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M11.695 15.117l6.531-6.344L15.5 6l-6.625 6.296 2.82 2.82zM10.27 16.52l-2.828-2.829-.446.446v2.828h2.829l.445-.445zm2.122.707l-1.415 1.414a1 1 0 0 1-.63.29H6.116c-.612.047-1.132-.306-1.085-.917v-4.4a1 1 0 0 1 .29-.63l2.12-2.121.018.017 6.909-6.578a1.6 1.6 0 0 1 2.263 0l3.292 3.338a1.6 1.6 0 0 1 0 2.263l-7.531 7.324z"></path>
        </svg>
      </div>
      <div class="edit-btn-text">Edit</div>
    </div>
    <div class="delete-btn-container">
      <div class="delete-icon">
        <svg width="24" height="24" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8,19 L16,19 L16,13 L8,13 L8,19 Z M16,7 L20,7 L20,9 L4,9 L4,7 L8,7 L8,3 L16,3 L16,7 Z M14,7 L14,5 L10,5 L10,7 L14,7 Z M6,11 L18,11 L18,21 L6,21 L6,11 Z"
            fill-rule="nonzero"></path>
        </svg>
      </div>
      <div class="delete-btn-text">Delete</div>
    </div>
  </div>
</div>