<div class="job-wizard">
  <div class="wizard-header" style="width:800px;">
    <div class="wizard-header-left">
      <div class="wizard-header-logo">
        <img alt="JobAssistant logo" src="../../images/jobassistant-logo.png" style="width:45px;height:45px; padding-bottom:2px;">
      </div>
    </div>
    <div class="wizard-header-center center" style="width:800px;">
      <h2 class="job-wizard-title" style="width:100%;">Job Application</h2>
    </div>
    <div class="wizard-header-right">
      <svg class="svg-close" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M8.849 8l4.525 4.525-.849.849L8 8.849l-4.525 4.525-.849-.849L7.151 8 2.626 3.474l.849-.848L8 7.151l4.525-4.525.849.849L8.849 8z"
              fill="#757575"></path>
      </svg>
    </div>
  </div>
  <div class="job-wizard-body center">
<!--    <h4 class="job-wizard-body-title">Let's get started with your job application! Which of the following do you want to create?</h4>-->
    <div class="sample-container">
      <img class="coverletter-sample" src="https://YOUR_STATIC_BUCKET.s3-us-west-2.amazonaws.com/coverletter_sample.jpg">
      <img class="resume-sample" src="https://YOUR_STATIC_BUCKET.s3-us-west-2.amazonaws.com/resume_sample.jpg">
      <div class="coverletter-sample-btn-container">
        <button class="coverletter-sample-btn">Create Cover Letter</button>
      </div>
      <div class="resume-sample-btn-container">
        <button class="resume-sample-btn">Create Resume</button>
      </div>
    </div>
  </div>
  <div class="job-wizard-footer">
    <div class="job-wizard-skip">
      <h5>Skip and go to job application site <i class="bi bi-chevron-right"></i></h5>
    </div>
  </div>
</div>