<div class="pdf-template-header">
  <!--      <div class="job-detail-tabs" style="height:40px;border:1px solid rgba(0,0,0,.125);border-radius:.25rem;">-->
  <!--      </div>-->
  <ul class="nav nav-tabs" id="myTab" role="tablist" style="margin:0 !important;">
    <li class="pdf-nav-item-coverletter active">
      <a class="nav-link" id="coverletter-tab" data-toggle="tab" href="#coverletter" role="tab"
         aria-controls="profile" aria-selected="false">Cover Letter Template</a>
    </li>
    <li class="pdf-nav-item-resume">
      <a class="nav-link" id="resume-tab" data-toggle="tab" href="#resume" role="tab"
         aria-controls="profile" aria-selected="false">Resume Template</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <!--        <div class="tab-pane custom-fade show active" id="jobdetail" role="tabpanel" aria-labelledby="jobdetail-tab">...</div>-->
    <!--        <div class="tab-pane custom-fade" id="coverletter" role="tabpanel" aria-labelledby="coverletter-tab">...</div>-->
  </div>
</div>
<div class="set-template-body-container">
</div>