<div class="alert alert-warning alert-dismissible fade show" id="cover-letter-alert-warning" role="alert">
  <div id="coverletter-editor-alert-heading" style="width:380px;">
    To save and re-use this template, please highlight and label the words that are company and job title you're applying for. To do this, select the text you wish to highlight, then click the appropriate button below.
  </div>
  <button type="button" class="close" id="close-alert" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="form-personal-group" id="coverletterInput" style="padding-top:10px;padding-bottom:0px;padding-right:20px;padding-left:20px;">
</div>
<div class="modal fade" id="confirmSave" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body center modal-body-sm">
        <p>
          By saving you will be using this template for every job ad.
        </p>
      </div>
      <div class="modal-footer center inline modal-footer-sm tail" style="padding-top:3px;">
        <button type="button" class="btn hero-btn x-sm" id="save-keyword">Confirm</button>
        <button type="button" class="btn btn-secondary x-sm" data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>
<div class="cover-letter-buttons-container inline center">
  <a href="#" class="btn hero-btn sm cover-letter-btns" id="saveCoverLetterUniversal" style="margin-top:4.3px!important;">Save</a>
</div>